html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.fullscreen-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
    margin: 0;
}

.centered-content {
    border: 1px solid #ffffff;
    padding: 20px;
    color: #ffffff;
}